body {
   background: rgb(70, 142, 236);
   font: normal 15pt Arial;


}

header {
    color: white;
    text-align: center;
}

section {

 background: white;
 border-radius: 10px;
 padding: 15px;
 width: 500px;
 margin: auto;
 box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.479);
}

footer {
    color: white;
    text-align: center;
    font-style: sans-serif;
}

#txti {
    border-radius: 7px;
    width: 30px;
    height: 30px;
    border:2px solid rgb(46, 117, 189)
    
}


#txtf {
    border-radius: 7px;
    width: 30px;
    height: 30px;
    border:2px solid rgb(46, 117, 189)
    
}

#txtp {
    border-radius: 7px;
    width: 30px;
    height: 30px;
    border:2px solid rgb(46, 117, 189)
    
}

.cor {
    color:rgb(0, 0, 0)
    
}

#bot {
    background-color: rgb(145, 187, 241);
    border-radius: 7px;
    width: 100px;
    height: 30px;
    border:2px solid rgb(46, 117, 189)
        
}

.teste {
    text-align: center;
}


